* {
  font-family: 'Montserrat', sans-serif;
}

.main {
  background: linear-gradient(60deg, #e2e2e2, #c9d6ff);
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cover-container .main {
  text-align: center;
}

.cover-container form.search-form {
  text-align: center;
}

.cover-container form.search-form .form-group-button{
  padding-top: 20px;
}

h1{
  text-align: center;
}

hr {
  border: 2px solid white; /* Change the color and style as needed */
  margin: 1%;
  width: 100%;
}

.left {
  min-height: 93vh;
  background: linear-gradient(60deg, rgb(202, 119, 193), #378fb7);  
  text-align: center;
  }

.title{
  padding: 4%;
  text-align: center;
}

.convo-holder{
  text-align: center;
  list-style-type: none;
}

.convo-nav-link {
  text-decoration: none;
  color: white;
}

.right {
  text-align: center;
  padding: 5%;
  color: black;
}