<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_account.css') }}">
   <title>Delete Account Page</title>
</head>

{% block content %}
<div>
     <div style="text-align: center;">
        <div class = "cards">
            <h1>Permanntly delete your account?</h1>
                <br> </br>
                <form action="{{url_for('delete_account')}}" method="POST" novalidate id="deleteForm">
                    {{deleteForm.hidden_tag()}}
                    <p>{{deleteForm.password.label}} {{deleteForm.password(size=32, class="form-control")}}</p>
                    {% for error in deleteForm.password.errors %}
                        <span class="text-danger">[{{ error }}]</span>
                    {% endfor %}
                    <p>{{deleteForm.submit(class="btn btn-danger")}}</p>
                </form>
         </div>
    </div>
</div>
        
{% endblock %}


