{% extends 'base.html' %} {% block content %}
<div id="home-container">
  <h1 id="home-header">Flask Chat 💬. Hello, {{user.username}}</h1>
  {% if error %}
  <p id="error">{{error}}</p>
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

  <form action="" method="POST" novalidate class="login-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="name" class="form-label"> Search for User</label>
      {{ form.name(size=30, id="username", class="form-control rounded-pill") }}
      {% for error in form.name.errors %}
      <span class="text-danger">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary rounded-pill") }}
    </div>
  </form>
</div>
{% endblock %}
