<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   <title>Index Page</title>
</head>

{% block content %}

<style>
  a {
    text-decoration: none;
  }
 </style> 
 <h1 class="typewriter"> Anywhere, Anytime.</h1> 
 <div style="text-align: center;">
  <div class = "cards">
    <div class = "image">
  <img width = "600" src = "{{ url_for('static', filename='conversation.jpg.jpg') }}" alt ="website logo theme"> 
</div> </div> </div>
 <a href="https://github.com/YueYingLee/CMPE-148" style="color: black"> @SJSU CMPE148 Project by 3C1S </a>.</p>

<div id="outer">
  <a href="/register" class="button_slide slide_right">Register</a>
    <br> <br><br>
  <a href="/login" class="button_slide slide_right">Login</a>
</div> 
<div class = "logo">
  
</div>
        
{% endblock %}